body {
    color: white;
    background-color: rgb(18, 19, 20);
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 5px rgb(88, 89, 82));
}

.header {
    margin-bottom: 2.5%;
}

p {
    margin: 5px;
}

.row {
    display: flex;
    justify-content: center;
}

.col-md-4 {
    width: 275px;
    margin: 2%;
}

